@import url(http://fonts.googleapis.com/css?family=Inconsolata);
@import url(http://fonts.googleapis.com/css?family=Lato);
html {
    font-family: "Lato";
}
body {
  background-color: #DAD3C9;
}
h1 {
  font-size: 3em;
  text-align: center;
}

h1 span {
  display: inline-block;
}

#coin {
  background-repeat: no-repeat;
}

#coin, #flip, #coin div {
  width: 300px;
  height: 300px;
}

#flip {
  outline: 0;
  text-decoration: none;
  display: block; 
  margin:auto;
}

.face {
  background: url(../img/face2.png);  
}

.pile {
  background: url(../img/pile2.png);
}

.front {
  position: relative;
  top:0;
}

footer {
  font-size: 1.4em;
  font-family: "Inconsolata";
  text-align: right;
}

a {
  text-decoration: none;
  color:inherit;
}

/*prelaod image */

body:after{
    display:none;
    content: url(../img/face2.png) url(../img/pile2.png);
}

